*{
    margin: 0px;
    padding: 0xp;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fcf7f7;
}


header .cx-menu{
    background-color: #ff3131;
}

header .cx-menu .menu{
    width: 93%;
    height: 60px;
    margin: 0 auto;
}

header .cx-menu .menu .menu-grande{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
}

header .cx-menu .menu .menu-grande .logo{
    display: flex;
    align-items: center;
}

header .cx-menu .menu .menu-grande .logo h1{
    color: #ffffff;
    font-weight: 900;
}

header .cx-menu .menu .menu-grande .logo p{
    color: #ffffff;
    margin: 0px 0px 0px 10px;
}

header .cx-menu .menu .menu-grande .itens-menu{
    height: 60px;
    display: flex;
    align-items: center;
}

header .cx-menu .menu .menu-grande .itens-menu a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 20px 10px;
    letter-spacing: 1px;
}

header .cx-menu .menu .menu-grande .itens-menu a:hover{
    background-color: #cf0404;
    transition: background-color .5s;
}

header .cx-menu .menu .menu-grande .itens-menu a img{
    width: 10%;
}

header .nossas-redes{
    max-width: 400px;
    margin: 10px auto;
    display: flex;
    justify-content:center;
}
header .nossas-redes .img-redes{
    width: 8%;
    margin: 0px 10px;
}
header .nossas-redes .img-redes img{
    width: 100%;
    filter: brightness(0);
}




.sec-publicas .cx-artigo{
    width: 708px;
    margin: 0 auto;
    background-color: #ffffff;
    border-top: solid 1px transparent;
}

.sec-publicas .cx-artigo article{
    width: 618px;
    margin: 40px auto 0px;
    padding-bottom: 20px;
    border-bottom: solid 1px #4F4F4F;
}

.sec-publicas .cx-artigo article h1{
    font-size: 38px;
    font-weight: 900;
    letter-spacing: -1px;
}

.sec-publicas .cx-artigo article .data-post{
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0px 30px;
}

.sec-publicas .cx-artigo article img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: center;
}

.sec-publicas .cx-artigo article p{
    margin: 20px 0px;
    line-height: 1.5;
    font-size: 23px;
    font-weight: 400;
}

.sec-publicas .cx-artigo article #more1, #more2, #more3, #more4{
    display: none;
}

.sec-publicas .cx-artigo article .btn{
    border: none;
    background-color: #ff3131;
    color: #ffffff;
    padding: 10px 30px;
}


/* Configuração do Footer */
footer{
    background-color: #ff3131;
    border: solid 1px transparent;
}
footer .cont-footer{
    width: 93%;
    margin: 30px auto;
}
footer .cont-footer .cx-footer .foot-logo{
    font-size: 28px;
    font-weight: 900;
    letter-spacing: -1px;
    color: #ffffff;
    text-align: center;
}
footer .cont-footer .cx-footer .foot-descricao{
    font-weight: 300;
    color: #ffffff;
    text-align: center;
}


/* Formatação da página quem somos */
.sec-publicas .cx-artigo .artigo-quem-somos{
    width: 618px;
    margin: 40px auto 0px;
    padding-bottom: 20px;
    border-bottom: solid 1px #4F4F4F;
}
.sec-publicas .cx-artigo .artigo-quem-somos h1{
    font-size: 30px;
}
.sec-publicas .cx-artigo .artigo-quem-somos h2{
    font-size: 22px;
}
.sec-publicas .cx-artigo .artigo-quem-somos ol li{
    font-size: 18px;
    margin: 15px 0px;
    line-height: 1.5;
    text-align: justify;
}
.sec-publicas .cx-artigo .artigo-quem-somos p{
    line-height: 1.5;
    text-align: justify;
}



/* Formatação da página quem somos */
.sec-publicas .cx-artigo .contato{
    width: 618px;
    height: 100vh;
    margin: 40px auto 0px;
    padding-bottom: 20px;
    border-bottom: solid 1px #4F4F4F;
}
.sec-publicas .cx-artigo .contato p{
    line-height: 1.5;
    text-align: center;
}


/* Formatação da página quem somos */
.sec-publicas .cx-artigo .mais-conteudo{
    width: 618px;
    height: 100vh;
    margin: 40px auto 0px;
    padding-bottom: 20px;
    border-bottom: solid 1px #4F4F4F;
}
.sec-publicas .cx-artigo .mais-conteudo p{
    line-height: 1.5;
    text-align: center;
}